.experiences {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.digimon-experience {
    width: 40%;
    min-width: 221px;
}

.digimon-experience .title {
    margin: 10px 0 18px 0 ;

    width: 100%;

    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.digimon-experience table {
    width: 100%;
}

.digimon-experience table * {
    font-size: 14px;
}

.digimon-experience table,
.digimon-experience table td {
  border: 1px solid var(--theme-light-background-selected);
  border-collapse: collapse;
}

.digimon-experience td {
  padding: 5px 5px;

  min-width: 50px;

  text-align: center;
}

.digimon-experience thead tr:first-child td {
  font-weight: 700;
}