.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    width: 100%;
}

.dashboard-left,
.dashboard-right {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 25%;
}

.content-shortcut {
    width: 100%;

    border: 1px solid var(--theme-light-background-500);
    background-color: var( --theme-light-white);
    border-radius: 0.25rem;
}

.content-shortcut .title,
.content-shortcut .content {
    padding: 8px;
}

.content-shortcut .title {
    width: 100%;

    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    background-color: var(--theme-light-background-400);

    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

.content-shortcut .title a {
    display: block;
    
    width: 100%;

    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

.content-shortcut .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-shortcut .content .row {
    width: 100%;
    
    font-size: 14px;
    text-align: center;
}

.content-shortcut .content .row.long {
    display: flex;

    text-align: left;
}

.content-shortcut .content .row span,
.content-shortcut .content .row i {
    font: inherit;
}

.content-shortcut .content .row span {
    width: 100%;

    line-height: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-shortcut .content .row i {
    position: relative;

    min-width: 32px;

    overflow: hidden;
}

.content-shortcut .content .row i img {
    position: absolute;
    top: -5px;
    left: 0px;
}

.content-shortcut .content .row > img {
    width: 100%;
}

.content-shortcut .content label {
    padding: 0 10px;
    height: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;

    transition: 300ms;
}

.content-shortcut .content label:hover {
    background-color: var(--theme-light-background-400);
}

.content-shortcut .content label * {
    pointer-events: none;
}

.content-shortcut .content label input {
    transition: 300ms;

    width: 1rem;
}

.content-shortcut .content label span {
    height: 2rem;

    font-size: 0.95rem;
    line-height: 2rem;
}

.content-shortcut .content .coupon {
    width: 100%;

    font-size: 14px;
}

.content-shortcut .content .coupon * {
    display: block;

    width: 100%;
    line-height: 1.5;
    text-align: center;
}

strong {
    font-weight: 700;
}

small {
    font-size: 0.875em;
}

.content-shortcut .content .coupon .copy-coupon {
    color: var(--type-adult-deep);
    transition: 500ms;
}

.content-shortcut .content .coupon .copy-coupon:hover {
    color: var(--type-adult-thin);
}

.content-shortcut .content .coupon hr {
    margin: 0.5rem 0 0.3rem;
    border-bottom: 1px solid var(--theme-light-background-400);
}

.main-mail,
.dashboard-center {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 50%;
}

.main-mail h1 {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
}

.main-mail h3 {
    margin-bottom: 25px;
    font-size: 18px;
}